In [2]:
import pandas as pd
#Generar un DataFrame con los datos del archivo.
titanic_df = pd.read_csv('titanic (1).csv')
#Mostrar por pantalla las dimensiones del DataFrame, el n√∫mero de datos que contiene
print(titanic_df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
# nombres de sus columnas y filas, los  tipos de datos de las columnas
print(titanic_df.info())

In [ ]:
#Primero 10 datos
titanic_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
#Tail 10 datos
titanic_df.tail(10)

In [ ]:
#Mostrar por pantalla los datos del pasajero con identificador 148
print(titanic_df.loc[147])

In [ ]:
#Mostrar por pantalla las filas pares del DataFrame.
titanic_df.iloc[::2]

In [ ]:
#Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfab√©ticamente.
print(titanic_df[titanic_df['Pclass'] == 1].Name.sort_values())

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

In [ ]:
#Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
titanic_df["Survived"].value_counts(normalize=True)

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [ ]:
#Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
print(titanic_df[titanic_df['Pclass'] == 1].Survived.value_counts(normalize=True))
print(titanic_df[titanic_df['Pclass'] == 2].Survived.value_counts(normalize=True))
print(titanic_df[titanic_df['Pclass'] == 3].Survived.value_counts(normalize=True))

Survived
1    0.62963
0    0.37037
Name: proportion, dtype: float64
Survived
0    0.527174
1    0.472826
Name: proportion, dtype: float64
Survived
0    0.757637
1    0.242363
Name: proportion, dtype: float64

In [ ]:
print(titanic_df.groupby('Pclass')['Survived'].value_counts(normalize=True))

Pclass  Survived
1       1           0.629630
        0           0.370370
2       0           0.527174
        1           0.472826
3       0           0.757637
        1           0.242363
Name: proportion, dtype: float64

In [ ]:
#Eliminar del DataFrame los pasajeros con edad desconocida.
titanic_df.dropna(subset=["Age"])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
#Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
print(titanic_df[titanic_df['Sex'] == 'female'].groupby('Pclass').Age.mean())

Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

In [ ]:
# Definir una funci√≥n para determinar si un pasajero es menor de edad o no
def es_menor_de_edad(edad):
    if edad < 18:
        return True
    else:
        return False

# Aplicar la funci√≥n a la columna 'Age' para crear una nueva columna booleana 'Menor_de_edad'
titanic_df['Menor_de_edad'] = titanic_df['Age'].apply(es_menor_de_edad)

# Mostrar el DataFrame con la nueva columna
print(titanic_df)

In [ ]:
print(titanic_df)

In [10]:
# Calcular el total de pasajeros por clase y por grupo de edad
total = titanic_df.groupby(['Pclass', 'Menor_de_edad'])['Survived'].count()

# Calcular el total de pasajeros sobrevivientes por clase y por grupo de edad
so = titanic_df.groupby(['Pclass', 'Menor_de_edad'])['Survived'].sum()

# Calcular el porcentaje de sobrevivientes por clase y por grupo de edad
porcentaje_sobrevivientes = (so / total) * 100

print("Porcentaje de sobrevivientes por clase y grupo de edad:")
print(porcentaje_sobrevivientes)

Porcentaje de sobrevivientes por clase y grupo de edad:
Pclass  Menor_de_edad
1       False            61.274510
        True             91.666667
2       False            40.993789
        True             91.304348
3       False            21.791768
        True             37.179487
Name: Survived, dtype: float64

##Parte 2

In [1]:
import pandas as pd

# Paso 1: Generar un DataFrame con los datos de los cuatro archivos.
emisiones_2016 = pd.read_csv('emisiones-2016.csv', sep=';')
emisiones_2017 = pd.read_csv('emisiones-2017.csv', sep=';')
emisiones_2018 = pd.read_csv('emisiones-2018.csv', sep=';')
emisiones_2019 = pd.read_csv('emisiones-2019.csv', sep=';')

# Combinar los DataFrames en uno solo
df = pd.concat([emisiones_2016, emisiones_2017, emisiones_2018, emisiones_2019])

In [2]:
# Seleccionamos las columnas deseadas y las almacenamos en una lista.
# Luego, filtramos el DataFrame para incluir solo estas columnas.
columnas_filtradas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES'] + [col for col in df.columns if col.startswith('D')]
df = df[columnas_filtradas]

In [3]:
# Paso 3: Reestructurar el DataFrame
# Utilizamos df.melt() para reestructurar el DataFrame de formato ancho a formato largo, manteniendo las columnas ESTACION, MAGNITUD, A√ëO y MES.
df = df.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='EMISION')

In [5]:
# Paso 4: A√±adir una columna con la fecha
# Utilizamos pd.to_datetime() para convertir las columnas de a√±o, mes y d√≠a en objetos de fecha y hora.
# Concatenamos las columnas de a√±o, mes y d√≠a, asegur√°ndonos de que est√©n formateadas correctamente.
# Usamos errors='coerce' para manejar posibles errores de conversi√≥n, convirtiendo fechas inv√°lidas en NaT (Not a Time).
df['FECHA'] = pd.to_datetime(df['ANO'].astype(str) + df['MES'].astype(str).str.zfill(2) + df['DIA'].str[1:].str.zfill(2), format='%Y%m%d', errors='coerce')

In [ ]:
# Paso 5: Eliminar las filas con fechas no v√°lidas
import numpy as np

# Eliminar las filas con fechas no v√°lidas utilizando la funci√≥n isnat de numpy
df = df[~np.isnat(df['FECHA'])]

# Ordenar el DataFrame por estaciones contaminantes y fecha
df = df.sort_values(by=['ESTACION', 'MAGNITUD', 'FECHA'])

# Mostrar el DataFrame ordenado
print(df)

In [9]:
# Paso 6: Mostrar las estaciones y contaminantes disponibles
print("Estaciones disponibles:")
print(df['ESTACION'].unique())
print("\nContaminantes disponibles:")
print(df['MAGNITUD'].unique())
print("\n")

Estaciones disponibles:
[ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]

Contaminantes disponibles:
[ 1  6  7  8 12  9 10 14 20 30 35 42 43 44]

In [17]:
df.head()

       ESTACION  MAGNITUD   ANO  MES  DIA  EMISION      FECHA
0             4         1  2016    1  D01      8.0 2016-01-01
7266          4         1  2016    1  D02      7.0 2016-01-02
14532         4         1  2016    1  D03      6.0 2016-01-03
21798         4         1  2016    1  D04      6.0 2016-01-04
29064         4         1  2016    1  D05      7.0 2016-01-05

In [10]:
# Paso 7: Funci√≥n para obtener las emisiones por estaci√≥n, contaminante y rango de fechas
def obtener_emisiones(estacion, contaminante, fecha_inicio, fecha_fin):
    return df[(df['ESTACION'] == estacion) & (df['MAGNITUD'] == contaminante) &
              (df['FECHA'] >= fecha_inicio) & (df['FECHA'] <= fecha_fin)]['EMISION']

In [19]:
# Paso 8: Resumen descriptivo para cada contaminante
resumen_contaminantes = df.groupby('MAGNITUD')['EMISION'].describe()
print("Resumen descriptivo para cada contaminante:")
print(resumen_contaminantes)
print("\n")

Resumen descriptivo para cada contaminante:
            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

In [20]:
# Paso 9: Resumen descriptivo para cada contaminante por estaci√≥n
resumen_contaminantes_por_estacion = df.groupby(['ESTACION', 'MAGNITUD'])['EMISION'].describe()
print("Resumen descriptivo para cada contaminante por estaci√≥n:")
print(resumen_contaminantes_por_estacion)
print("\n")

Resumen descriptivo para cada contaminante por estaci√≥n:
                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]

In [22]:
# Paso 10: Funci√≥n para obtener resumen descriptivo de emisiones por contaminante y estaci√≥n
def resumen_descriptivo_emisiones(estacion, contaminante):
    return df[(df['ESTACION'] == estacion) & (df['MAGNITUD'] == contaminante)]['EMISION'].describe()

In [25]:
# Paso 11: Funci√≥n para obtener las emisiones medias mensuales de un contaminante y un a√±o dados para todas las estaciones
def emisiones_medias_mensuales(contaminante, anio):
    return df[(df['MAGNITUD'] == contaminante) & (df['ANO'] == anio)].groupby('MES')['EMISION'].mean()

In [27]:
# Paso 12: Funci√≥n para obtener medias mensuales de los distintos tipos de contaminantes para una estaci√≥n dada
def medias_mensuales_por_contaminante(estacion):
    return df[df['ESTACION'] == estacion].groupby(['MAGNITUD', 'MES'])['EMISION'].mean()

In [28]:
medias_mensuales_por_contaminante(4)

MAGNITUD  MES
1         1        8.943548
          2        8.663717
          3        7.629032
          4        4.350000
          5        4.016129
          6        4.075000
          7        5.629032
          8        7.104839
          9        7.891667
          10      13.379032
          11       7.883333
          12       8.346774
6         1        0.539516
          2        0.471681
          3        0.389516
          4        0.379167
          5        0.335484
          6        0.311667
          7        0.295968
          8        0.306452
          9        0.384167
          10       0.472581
          11       0.480000
          12       0.574194
7         1       61.540323
          2       42.893805
          3       22.911290
          4       16.616667
          5       12.975806
          6       13.233333
          7       11.435484
          8        9.645161
          9       24.683333
          10      47.233871
          11      47.966667
          12      72.298387
8         1       52.032258
          2       49.495575
          3       40.411290
          4       37.891667
          5       36.774194
          6       39.625000
          7       39.685484
          8       37.145161
          9       49.666667
          10      51.314516
          11      46.216667
          12      52.838710
12        1      146.354839
          2      115.247788
          3       75.540323
          4       63.291667
          5       56.556452
          6       59.841667
          7       57.282258
          8       52.008065
          9       87.491667
          10     123.717742
          11     119.700000
          12     163.620968
Name: EMISION, dtype: float64